.commentBody{
    margin-left: 5.5%;
    margin-right: 5%;
    border-radius: calc(0.1 * 100px);
    box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
    background: #fff;
    word-wrap: break-word;
    height: 3rem;
    width: 75%;
    line-height: 1.5;
    font-size: 14px;
}

.buttonStyle{
    border: none;
    background-color: #758488;
    font-size: 15px;
    width: 11%;
    height: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: -3.5%;
}

.disabled{
    border: none;
    background-color: #758488;
    font-size: 15px;
    width: 12%;
    height: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.5;
  }

.divStyle{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}