.write {
    font-size: large;
    border: none;
    background-color: #fff;
    margin-left: 75%;
    margin-right: auto;
}

.writeRef {
    text-decoration: none;
    color: black;
}

.writeIcon {
    margin-right: 8px;
}

.write:hover {
    text-decoration-color: gray;
}

.title {
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: rgb(170, 169, 169, 0.5) solid 1px;

}

.login {
    font-size: large;
    border: none;
    background-color: #fff;
    margin-right: 1%;
    margin-left: auto;
}