h3 {
  text-align: center;
  margin: 0;
}

.articleItem {
  display: flex;
  flex-direction: column;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
  justify-content: space-around;
  background: #fff;
  font-size: 1rem;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 2rem;
}

.articleBody {
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
  background: #fff;
  /* Adjust the value to show 2-3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Adjust the value to show 2-3 lines */
  -webkit-box-orient: vertical;
}

.commentBody {
  text-align: justify;
  margin-right: 2%;
  background: #fff;
  margin-bottom: 0.35rem;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.commentList {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.commentBody:not(.collapsed) {
  -webkit-line-clamp: unset;
}

.articleAuthor {
  margin: 0;
}

.titleAuthor {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 2rem;
}

.articleTitle {
  margin: 0;
  /* remove default margin from h2 element */
  text-align: center;
  /* center the title horizontally */
  flex: 1;
  /* allow the title to take up available space, pushing the author to the right */
}

.loginHeaderStyle {
  text-align: center;
  color: #aeadad;
  line-height: 1.5em;
  text-transform: lowercase;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 7rem;
}

.welcomeMessage {
  text-align: left;
  line-height: 1.5em;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 6.5rem;
}

.editIcon {
  border-radius: 2px;
  border: none;
  background-color: #758488;
  font-size: 18px;
  width: 10%;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 83%;
}

.editIconDisabled {
  border-radius: 2px;
  border: none;
  background-color: #97a7ac;
  font-size: 18px;
  width: 10%;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 83%;
  opacity: 0.5;
}

.deleteIcon {
  border-radius: 2px;
  border: none;
  background-color: #758488;
  font-size: 18px;
  width: 10%;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: .5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.deleteDisabled {
  border-radius: 2px;
  border: none;
  background-color: #97a7ac;
  font-size: 18px;
  width: 10%;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: .5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 0.5;
}

.comment-section {
  max-height: 100px;
  overflow: auto;
}

.comment-section.collapsed {
  max-height: 0;
  overflow: hidden;
}

.link-text {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.body {
  font-size: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  text-align: justify;
  white-space: pre-line;
}

.commentsLabel {
  margin-left: 5.5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.toggleButton {
  border: none;
  color: rgb(93, 87, 87);
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.deleteButton {
  border: none;
  color: rgb(106, 95, 90);
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1%;
}

.invalid {
  border: 2px solid red;
}