h3 {
  text-align: center;
  margin: 0;
}

.articleItem {
    display: flex;
    flex-direction: column;
    border-radius: calc(0.1 * 100px);
    box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
    justify-content: space-around;
    background: #fff;
    font-size: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.articleBody {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1.5rem;
    border-radius: calc(0.1 * 100px);
    box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
    background: #fff;
    margin-bottom: 0%;
}

.commentBody {
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 3rem;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
  background: #fff;
  margin-bottom: 0.35rem;
}

.articleAuthor{
  margin: 0;
}

.titleAuthor {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 2rem;
}

.articleTitle {
  margin: 0; /* remove default margin from h2 element */
  text-align: center; /* center the title horizontally */
  flex: 1; /* allow the title to take up available space, pushing the author to the right */
}

.loginHeaderStyle{
  text-align: center;
  color: #aeadad;
  line-height: 1.5em;
  text-transform: lowercase;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 7rem;
}